data/flows.json
[{"id":"89bbe3e7b3ea894d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e45d2bdd61002336","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"737e6b33db905439","type":"mqtt-broker","name":"HiveMQ Broker","broker":"4d54c3dd0ca94c10b75319602a98b2c6.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"81f9aeb956947f37","type":"ui_tab","name":"BEwässerung","icon":"dashboard","disabled":false,"hidden":false},{"id":"6eb56b0c4d904595","type":"ui_group","name":"Pflanze","tab":"81f9aeb956947f37","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"6419296c2afa0337","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce622909d0734c02","type":"mqtt in","z":"e45d2bdd61002336","name":"MQTT Feuchte","topic":"pflanze/feuchtigkeit","qos":"2","datatype":"auto-detect","broker":"737e6b33db905439","nl":false,"rap":false,"inputs":0,"x":200,"y":180,"wires":[["b0657ebe010e52d2","1f28b80f79535a33"]]},{"id":"b0657ebe010e52d2","type":"function","z":"e45d2bdd61002336","name":"Auswerten & steuern","func":"let v = parseInt(msg.payload);\nmsg.payload = v;\nmsg.status = v < 2800 ? \"Gießen nötig\" : \"Alles ok\";\nmsg.pumpe = v < 2800 ? \"AN\" : \"AUS\";\nreturn [msg, { payload: msg.pumpe }];","outputs":2,"x":400,"y":180,"wires":[["8ee63e848b62f184","f3ef31c262024618"],["bd8bdb343b30ce6d","1f28b80f79535a33"]]},{"id":"8ee63e848b62f184","type":"ui_chart","z":"e45d2bdd61002336","name":"Feuchteverlauf","group":"6eb56b0c4d904595","order":1,"width":0,"height":0,"label":"Feuchteverlauf","chartType":"line","xformat":"HH:mm:ss","nodata":"Keine Daten","dot":false,"ymin":"2000","ymax":"5000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4"],"outputs":1,"useDifferentColor":false,"className":"","x":640,"y":160,"wires":[[]]},{"id":"f3ef31c262024618","type":"ui_text","z":"e45d2bdd61002336","group":"6eb56b0c4d904595","order":2,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.status}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"","color":"#000000","x":640,"y":220,"wires":[]},{"id":"bd8bdb343b30ce6d","type":"mqtt out","z":"e45d2bdd61002336","name":"Sende Pumpensignal","topic":"pflanze/pumpe","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"737e6b33db905439","x":660,"y":280,"wires":[]},{"id":"1f28b80f79535a33","type":"debug","z":"e45d2bdd61002336","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":320,"wires":[]}]
