data/flows.json
[
  {
    "id": "mqtt-in",
    "type": "mqtt in",
    "z": "f3d608c4c586ac6d",
    "name": "MQTT Feuchte",
    "topic": "pflanze/feuchtigkeit",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "737e6b33db905439",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 280,
    "y": 180,
    "wires": [
      ["func", "3722c07b2a19f0f9"]
    ]
  },
  {
    "id": "func",
    "type": "function",
    "z": "f3d608c4c586ac6d",
    "name": "Auswerten",
    "func": "let v = parseInt(msg.payload);\nmsg.payload = v;\nmsg.status = v < 2800 ? \"Gießen nötig\" : \"Alles ok\";\nreturn msg;",
    "outputs": 1,
    "x": 480,
    "y": 180,
    "wires": [
      ["chart", "txt"]
    ]
  },
  {
    "id": "chart",
    "type": "ui_chart",
    "z": "f3d608c4c586ac6d",
    "name": "Feuchteverlauf",
    "group": "6eb56b0c4d904595",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Feuchteverlauf",
    "chartType": "line",
    "xformat": "HH:mm:ss",
    "nodata": "Keine Daten",
    "dot": false,
    "ymin": "2000",
    "ymax": "5000",
    "removeOlder": "10",
    "removeOlderPoints": "",
    "removeOlderUnit": "1",
    "cutout": "",
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 680,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "txt",
    "type": "ui_text",
    "z": "f3d608c4c586ac6d",
    "group": "6eb56b0c4d904595",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Status",
    "label": "Status",
    "format": "{{msg.status}}",
    "layout": "row-spread",
    "className": "",
    "style": true,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 680,
    "y": 220,
    "wires": []
  },
  {
    "id": "inject_feuchte",
    "type": "inject",
    "z": "f3d608c4c586ac6d",
    "name": "Starte Feuchtigkeitssimulation",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 430,
    "y": 540,
    "wires": [
      ["simulate_feuchte"]
    ]
  },
  {
    "id": "simulate_feuchte",
    "type": "function",
    "z": "f3d608c4c586ac6d",
    "name": "Simuliere Feuchtigkeit",
    "func": "let feuchtigkeit = Math.floor(Math.random() * (4000 - 2000) + 2000);\nmsg.payload = feuchtigkeit;\nmsg.topic = \"pflanze/feuchte\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 540,
    "wires": [
      ["mqtt_out"]
    ]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "f3d608c4c586ac6d",
    "name": "Sende an HiveMQ",
    "topic": "pflanze/feuchtigkeit",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "737e6b33db905439",
    "x": 1080,
    "y": 440,
    "wires": []
  },
  {
    "id": "3722c07b2a19f0f9",
    "type": "debug",
    "z": "f3d608c4c586ac6d",
    "name": "Debug MQTT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 350,
    "y": 360,
    "wires": []
  },
  {
    "id": "737e6b33db905439",
    "type": "mqtt-broker",
    "name": "HiveMQ Broker",
    "broker": "4d54c3dd0ca94c10b75319602a98b2c6.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": "",
    "credentials": {
      "user": "Pflanze",
      "password": "Pflanze1"
    }
  },
  {
    "id": "6eb56b0c4d904595",
    "type": "ui_group",
    "name": "Pflanze",
    "tab": "81f9aeb956947f37",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "81f9aeb956947f37",
    "type": "ui_tab",
    "name": "BEwässerung",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
